:root {
	--chosen-filter: "everything";
}


html, body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
}

body {
	background-color: #202020;
	text-align: center;
	color: white;
	font-family: sans-serif;
}

#navbar {
	position: sticky;
    top: 0px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #3e4a68;
	font-size: 15pt;
	/* text-align: right; */
	/* opacity: 80%; */
    z-index: 10;
}

#navbar h3 {
    position: absolute;
    left: 10px;
    top: 10px;
    margin: 0px;
    display: inline;
    text-align: left;
    font-size: 22pt;
    /* float: left; */
}

h3 a {

    color: white;
	text-decoration: none;
}

nav {
    /* float: right; */
    display: inline;
    cursor: default;
	position: relative;
	/*top: 0px;*/
}

nav a, .dropdown span {
	padding: 10px;
	color: white;
	text-decoration: none;
    transition: background-color .25s linear;
}

nav a:hover, .dropdown span:hover {
    background-color: #000040
}

.dropdown {
    cursor: default;
    position: relative;
}

.dropdown span {
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0px;
    text-align: left;
    background-color: #3e4a68;
    margin-top: 10px;
    border-top: 1px solid white;
    width: max-content;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
}

#cover-image {
	/*background: url("header.jpg");*/
	background: black;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
	margin: 0;
	min-height: 400px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 0px;
	left: 0px;
}

#cover-canvas {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

header {
    font-size: 16pt;
    --shadow-color: black;
    text-shadow: 1px 1px 0 var(--shadow-color), 1px 1px 0 var(--shadow-color), 1px -1px 0 var(--shadow-color), -1px -1px 0 var(--shadow-color);
    position: relative;
    /* top: 100%; */
    /* left: 50%; */
    transform: translate(0%, 0%);
	pointer-events: none;
}

#welcome-text {
	margin-left: 20%;
	margin-right: 20%;
	font-size: 20px;
}

#portfolio-filters {
	padding: 10px 10px;
    margin-bottom: 10px;
    /* background-color: darkgray; */
    /* display: flex;
    justify-content: space-between; */
}

.filter-button {
	border-radius: 100px;
	font-size: 20px;
	padding: 10px 20px;
    margin: 0px 10px 10px 10px;
	color: black;
	background-color: #eeeeee;
	/* border: 3px solid #aaaaaa; */
    border: none;
	cursor: pointer;
	transition: background-color .25s linear, color .25s linear;/*, border-color .25s linear;*/
}

.filter-button:hover {
	background-color: white;
}

#chosen-filter {
	background-color: green;
	color: white;
	/* border-color: white; */
}

#portfolio-grid {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}

.portfolio-grid-item {
	aspect-ratio: 1;
	/*width: 300px;
	height: 300px;*/
    flex: 1;
	min-width: 250px;
	max-width: 500px;
	margin: 0px;
	position: relative;

	background-size: 100%;
	background-blend-mode: color;
	transition: background-size 1s ease, background-color 1s ease, left 1s ease;
	background-position: center;
}

.portfolio-grid-item:hover, .portfolio-grid-item:focus {
	background-size: 120%;
}

.portfolio-item-cover {
	position: absolute;
	display: block;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #435996;
	opacity: 0%;
	transition: opacity 1s;
}

.portfolio-grid-item:hover .portfolio-item-cover {
	opacity: 85%;
}

.portfolio-grid-item a {;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	text-align: center;
	align-content: center;
	font-size: 300%;
	text-decoration: none;
	--shadow-color: black;
	color: white;
	text-shadow: 2px 2px black;
	/*text-shadow: -1px 1px 0 var(--shadow-color), 1px 1px 0 var(--shadow-color), 1px -1px 0 var(--shadow-color), -1px -1px 0 var(--shadow-color);*/
}


.gradient {
	--gradient-color: #001d68;
	background-image: linear-gradient(#202020, var(--gradient-color));
}

footer {
	padding-bottom: 50px;
	padding-top: 10px;
}

h2 a {
    /* color: #5b6d99; */
    color: #4785b2;
}

.contact-link {
    text-decoration: none;
}

.contact-link img {
    background-color: #3e4a68;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color .25s linear;
}

.contact-link img:hover {
    background-color: #5b6d99;
}

form {
	margin-left: 10%;
	margin-right: 10%;
	/* display: flex; */
}

.contact-row {
	display: inline-flex;
	width: 100%;
}

.contact-input {
	font-size: 30px;
	/* flex-grow: 300; */
	/* display: ; */
	margin: 5px;
	width: 100%;
}

.form-details:first-of-type {
	opacity: 0;
	position: fixed;
	z-index: -10;
}

.contact-input-label {
	font-size: 30px;
	/* display: flex; */
	margin: 5px;
	float: left;
}

#contact-subject {
}


#contact-message {
	padding-bottom: 200px;
}

#contact-submit {
    width: auto;
    padding: 10px 20px;
    cursor: pointer;
}

.gallery-item {
    display:inline-block;
    width: 40%;
    /* background-color: red; */
    margin: 0px 20px;
}

.gallery-item iframe, .gallery-item video {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.gallery-item img {
    width: 100%;
}

td {
    border: 1px solid white;
}


@media only screen and (max-aspect-ratio: 1/1) {

	#navbar {
		padding-bottom: calc(10px + 22pt);
	}

    nav {
		top: 22pt;
	}

	.dropdown-content {
		top: calc(22pt - 10px);
	}

	.gallery-item {
		width: 90%;
	}
}
