<nav id="mobile-nav">
    <a href="/" {% if page.url == "/" %}class="nav-current-page"{% endif %}>
        <img src="">
        <p>Home</p>
    </a>

    <a href="/projects"{% if page.url != "/" and page.url != "/about" %}{% unless page.url contains "/blog" %}class="nav-current-page"{% endif %}{% endif %}>
        <img src="">
        <p>Projects</p>
    </a>

    <a href="/blog" {% if page.url contains "/blog" %}class="nav-current-page"{% endif %}>
        <img src="">
        <p>Blog</p>
    </a>

    <a href="/about" {% if page.url == "/about" %}class="nav-current-page"{% endif %}>
        <img src="">
        <p>About</p>
    </a>
</nav>
