<nav id="top-nav"><a id="nav-title" href="/"
    >Darien Yoder</a
    ><div style="flex: 1;"
    ></div
    ><div id="top-nav-link-wrapper"
    >
    {% for item in site.data.navigation %}
    {% if item.name == "Projects" %}
    <span class="nav-submenu">
        <span>{{ item.name }}</span>
        <div>
            {% for project in site.data.projects %}{% if project.type == "software" %}<a href="{{ project.link }}">{{ project.name }}</a>{% endif %}{% endfor %}
        </div>
    </span
>
{% else %}
<a
        href="{{ item.link }}">{{ item.name }}</a
>
{% endif %}
{% endfor %}
</div></nav>
