@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: #ffffff;
    --black: #202020;
}

body {
    margin: 0px;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    background-color: var(--white);
    color: var(--black);
}

// #page-wrapper {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
// }
//
// #page-content {
//     flex: 1;
//     overflow-y: auto;
// }

a {
    color: #0066cc;
}

a:visited {
    color: #0066cc;
}

#top-nav {
    position: fixed;
    display: flex;
    align-items: top;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 1000;

    color: white;
}

#mobile-nav {
    display: none;
    width: 100%;
    flex-direction: row;
    position: sticky;
    top: 0px;
    background-color: #172e4b;
    z-index: 10;
}

#mobile-nav a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;
}

#mobile-nav a.nav-current-page {
    border-bottom: solid 6px #f2d100;
    background-color: #002050;
}

@media only screen and (max-width: 550px) {
    #top-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }
}

#nav-title {
    height: 200%;
    background-color: #000000d0;
    border-radius: 0px 0px 10px 0px;
}

#top-nav > div {
    text-align: right;
}

#top-nav-link-wrapper {
    background-color: #000000d0;
    padding-left: 10px;
    border-radius: 0px 0px 0px 10px;
    display: flex;
}

#top-nav-link-wrapper * {
    margin-top: 0px;
}

#top-nav a:hover {
    color: #fff04c;
}

#top-nav a, #top-nav .nav-submenu {
    padding: 10px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

#top-nav .nav-submenu {
    cursor: default;
}

#top-nav .nav-submenu > div {
    display: block;
    transform: scaleY(0.0);
    position: absolute;
    top: 100%;
    left: 0px;
    width: max-content;
    text-align: left;

    background-color: #000000d0;
    padding-left: 10px;
    border-radius: 0px 0px 10px 10px;
    border-top: solid 2px white;

    transition: scale, 0.2s;
    transform-origin: 50% 2px;
}

#top-nav .nav-submenu a {
    display: block;
}

#top-nav .nav-submenu:hover > div {
    display: block;
    transform: scaleY(1.0);
}

#big-header {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: black;
    color: white;
    text-shadow: 2px 2px 20px black;
}

#big-header > div {
    z-index: 2;
    cursor: default;
}

#big-header h1 {
    font-size: 300%;
    margin: 0px;
}

#header-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.header-separator {
    display: none;
}

.header-br {
    display: inline;
}

h1, h2 {
	text-align: center;
}

#category-list, #gallery-grid {
	text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#gallery-grid video, #gallery-grid img, #gallery-grid iframe {
    width: 100%;
}

#gallery-grid iframe {
    aspect-ratio: 16 / 9;
}

.list-break {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: left;
    border-bottom: solid 2px black;
}

@media only screen and (min-width: 700px) {
    #category-list, #gallery-grid {
        grid-template-columns: 1fr 1fr;
        margin-left: 50px;
        margin-right: 50px;
    }

    .header-separator {
        display: inline;
    }

    .header-br {
        display: none;
    }

    .list-break {
        grid-column-end: 3;
    }
}

#category-list a {
	color: white;
	background-color: gray;

    font-size: 30px;
    font-weight: bold;
    text-decoration: none;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: top;
	// width: 200px;
	height: 150px;

    position: relative;
    overflow: hidden;

	border: none;
	border-radius: 10px;
    margin: 5px;
    padding: 0px;

    background-position: center;
    background-size: 100%;
    transition: background-size 0.5s;

    text-shadow: 0 0 5px black;
}

#category-list a * {
    margin: 0px;
}

#category-list a:hover {
    background-size: 110%;
}

#category-list a:hover {
	background-color: red;
	cursor: pointer;
}

.link-hover-highlight {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ff9a00;
    opacity: 0.0;
    transition: opacity, 0.4;
}

#category-list a:hover .link-hover-highlight {
    opacity: 0.35;
}
