@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

.post-entry {
    display: block;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.post-entry:hover h2 {
    text-decoration: underline;
}

#post-header {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    background-position: center;
    background-size: cover;
    color: white;
}

#post-content {
    max-width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    font-family: "Noto Serif", serif;
}

#post-content.wide {
    max-width: calc(100% - 20px);
    font-family: "Outfit", sans-serif;
}

@media only screen and (min-width: 720px) {
    #post-content {
        max-width: 700px;
    }

    #post-content.wide {
        max-width: max(700px, calc(100% - 200px));
    }
}

#post-margin {
    margin-left: 0px;
    margin-right: 0px;
}

#post-content p {
    line-height: 30px;
}

#post-content h1 {
    font-size: 40px;
}

#post-content table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

#post-content td {
    border: 1px solid black;
}

#post-content img, #post-content video {
    width: 100%;
}

#post-content pre {
    max-width: 100%;
    padding: 10px;
    overflow-x: auto;
    background-color: #e0e0e0;
    border: 2px solid black;
    border-radius: 10px;
    tab-size: 4;
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
