---
layout: base
---

<main>

    <div id="post-content" class="wide">
        <div id="post-margin">
            {{ content }}
        </div>
    </div>

    <div id="category-list">
        {% for item in site.data.portfolio-categories %}

            {% if item.link == "/software" %}
                <h2 class="list-break">Software</h2>
                {% for project in site.data.projects %}
                    {% if project.type == "software" %}
                        <a href="{{ project.link }}" style="background-image: url('{{ project.image }}');"><h2 style="z-index:1;">{{ project.name }}</h2><div class="link-hover-highlight"></div></a>
                    {% endif %}
                {% endfor %}

            {% else %}
                {% if item.link == "/film" %}<h2 class="list-break">Creative Stuff</h2>{% endif %}

                <a href="{{ item.link }}" style="background-image: url('{{ item.image }}');"><h2 style="z-index:1;">{{ item.name }}</h2><div class="link-hover-highlight"></div></a>
            {% endif %}

        {% endfor %}
    </div>
</main>
